---
# The bare domain name which represents your Matrix identity.
# Matrix user ids for your server will be of the form (`@user:<matrix-domain>`).
#
# Note: this playbook does not touch the server referenced here.
# Installation happens on another server ("matrix.<matrix-domain>").
#
# If you've deployed using the wrong domain, you'll have to run the Uninstalling step,
# because you can't change the Domain after deployment.
#
# Example value: example.com
matrix_domain: "{{ now(fmt='%Y') }}.seagl.org"
matrix_static_files_file_index_html_enabled: false
matrix_static_files_file_matrix_support_enabled: true
matrix_static_files_container_labels_base_domain_enabled: true
matrix_static_files_container_labels_base_domain_root_path_redirection_url: https://seagl.org/attend

matrix_server_fqn_matrix: "matrix.{{ now(fmt='%Y') }}.seagl.org"

# Enable or disable this when the time is right
matrix_synapse_enable_registration: true
matrix_synapse_registration_requires_token: true

# Raise rate limits for bursty usage patterns
matrix_synapse_rc_invites:
  per_room: {per_second: 1, burst_count: 100}
  per_user: {per_second: 1, burst_count: 100}
  per_issuer: {per_second: 1, burst_count: 100}
matrix_synapse_rc_joins:
  local: {per_second: 1, burst_count: 100}
  remote: {per_second: 1, burst_count: 100}

matrix_client_element_enabled: false
devture_playbook_state_preserver_vars_preservation_enabled: false

# The Matrix homeserver software to install.
# See:
#  - `roles/custom/matrix-base/defaults/main.yml` for valid options
# - the `docs/configuring-playbook-IMPLEMENTATION_NAME.md` documentation page, if one is available for your implementation choice
matrix_homeserver_implementation: synapse

# A secret used as a base, for generating various other secrets.
# You can put any string here, but generating a strong one is preferred (e.g. `pwgen -s 64 1`).
matrix_homeserver_generic_secret_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63373964623630633063383639346337343861303737623464343066653938623362366132323837
          6634656132333834643561333562356261663136343933640a383135303838396234363261363066
          37623065393230646533366336613165393261333737343264643138323163363564313062643765
          3435643763633336630a366236383839346564363238613764376139333935313563306638393537
          37363231643533643638623938383634383830306663343263363435323834303631613361366366
          33653366356335373330303662393865313031373739353463663638336132383239646236366134
          64623437643136656630623932333930626533633536616631643734366465643766303137313136
          36323163383831626565

# By default, the playbook manages its own Traefik (https://doc.traefik.io/traefik/) reverse-proxy server.
# It will retrieve SSL certificates for you on-demand and forward requests to all other components.
# For alternatives, see `docs/configuring-playbook-own-webserver.md`.
matrix_playbook_reverse_proxy_type: playbook-managed-traefik

# This is something which is provided to Let's Encrypt when retrieving SSL certificates for domains.
#
# In case SSL renewal fails at some point, you'll also get an email notification there.
#
# If you decide to use another method for managing SSL certificates (different than the default Let's Encrypt),
# you won't be required to define this variable (see `docs/configuring-playbook-ssl-certificates.md`).
#
# Example value: someone@example.com
traefik_config_certificatesResolvers_acme_email: 'tech@seagl.org'

# A Postgres password to use for the superuser Postgres user (called `matrix` by default).
#
# The playbook creates additional Postgres users and databases (one for each enabled service)
# using this superuser account.
postgres_connection_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32613637323734333961396332363534393634393861646161663831633934653232633435656661
          3363663839336632343463643534356162653534323036300a393232393436393937626332613635
          65633332303435383639353763636531343466313665626237626439386433623538623439623339
          3837353761623536340a633733333830343237383730376137326230383166663564633330343061
          63323134616463333830643565643133613037393163333266393538393035386635343032343831
          62396538323061653936336135613631386563643136363831643939383732366538633632336366
          31306531363038656136323563323738393231343039666630313233376265663931343532633762
          65666362633031393261

# By default, we configure Coturn's external IP address using the value specified for `ansible_host` in your `inventory/hosts` file.
# If this value is an external IP address, you can skip this section.
#
# If `ansible_host` is not the server's external IP address, you have 2 choices:
# 1. Uncomment the line below, to allow IP address auto-detection to happen (more on this below)
# 2. Uncomment and adjust the line below to specify an IP address manually
#
# By default, auto-detection will be attempted using the `https://ifconfig.co/json` API.
# Default values for this are specified in `matrix_coturn_turn_external_ip_address_auto_detection_*` variables in the Coturn role
# (see `roles/custom/matrix-coturn/defaults/main.yml`).
#
# If your server has multiple IP addresses, you may define them in another variable which allows a list of addresses.
# Example: `matrix_coturn_turn_external_ip_addresses: ['1.2.3.4', '4.5.6.7']`
#
# matrix_coturn_turn_external_ip_address: ''

# Audit user registrations
matrix_synapse_ext_audit_registrations_enabled: true
matrix_synapse_ext_audit_registrations_config:
  room_alias: "#audit:{{ now(fmt='%Y') }}.seagl.org"
  user_id: "@notifications:{{ now(fmt='%Y') }}.seagl.org"
